# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#cd C:\Users\Acer\.gemini\antigravity\scratch\HobbyMart\backend
#npm run dev

#cd C:\Users\Acer\.gemini\antigravity\scratch\HobbyMart\frontend
#npm run dev
